@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2><i class="bi bi-exclamation-octagon-fill"></i>Are you sure you want to delete @Html.DisplayFor(model => model.Name)?<i class="bi bi-exclamation-octagon-fill"></i></h2>

@using (Html.BeginForm())
{
  <button type="submit" value="Delete" class="btn btn-danger" >DELETE <i class="bi bi-trash"></i></button>
}

<h5>@Html.ActionLink("Back to Engineers", "Index", "Engineers")</h5>



