@{
  Layout = "_Layout";
}

<h1>FACTORY TO-DO LIST <i class="bi bi-clipboard-check"></i></h1>

<h5>@Html.ActionLink("See Engineers List", "Index", "Engineers") | @Html.ActionLink("See Machines List", "Index", "Machines")</h5>
